body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Color de fondo más claro */
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
}

#dashboard-container {
    display: flex;
}

#dashboard {
    width: 250px;
    background-color: #343a40; /* Color de fondo del panel lateral */
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#dashboard h2 {
    color: #4CAF50; /* Color de texto de los encabezados en el panel lateral */
    border-bottom: 2px solid #4CAF50; /* Línea de separación debajo de los encabezados */
    padding-bottom: 10px;
}

#dashboard ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#dashboard ul li {
    margin-bottom: 10px;
}

#dashboard ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#dashboard ul li a:hover {
    background-color: #4CAF50; /* Cambia el color de fondo al pasar el ratón */
}

#zonas-section {
    margin-left: 20px; /* Agrega un margen a la sección principal para separarla del panel lateral */
    flex-grow: 1; /* Hace que la sección principal ocupe todo el espacio restante */
}

.zonas-list {
    list-style: none;
    padding: 0;
}

.zonas-list li {
    margin-bottom: 10px;
}

.zonas-list li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
    padding: 8px;
    border: 1px solid #4CAF50; /* Borde alrededor de cada elemento de la lista */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.zonas-list li a:hover {
    background-color: #4CAF50; /* Cambia el color de fondo al pasar el ratón */
    color: white;
}
#importancia-reforestacion {
    max-width: 800px;
    margin: 20px auto; /* Ajusta los márgenes para centrar el contenido */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
#importancia-reforestacion img {
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
}