/* login.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('img/reforestacion.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

header {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login-form h2 {
    text-align: center;
}

#login-form label {
    display: block;
    margin-bottom: 8px;
}

#login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#login-form button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
